<div class="page-container">

  <div class="header">
    <span class="logo">Wallmine</span>
    <span>Status</span>
    <a
      mat-flat-button
      color="primary"
      class="action-button"
    >
      E-mail helpdesk
    </a>
  </div>

  <div class="service-status-overall">
    <a
      mat-icon-button
      aria-label="Everything is OK"
      matTooltip="Everything is OK"
    >
      <mat-icon>check_circle</mat-icon>
    </a>
    <h2>All services are online</h2>
    <div>As of June 1st, 1:46 PM ET</div>
  </div>

  <mat-card class="service-status-detailed">
    <mat-card-header>
      Current status by service
    </mat-card-header>
    <mat-card-content>
      API
    </mat-card-content>
  </mat-card>

  <div class="footer">
    @2020 wallmine
  </div>
</div>
